---
layout: default
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam quis enim lobortis scelerisque fermentum dui. Maecenas accumsan lacus vel facilisis volutpat est. Sit amet risus nullam eget felis eget.
---

<main class="grid lg:grid-cols-3 grid-flow-col gap-4 my-10">
  <div class=""></div>
  <ul class="flex flex-row prose dark:prose-dark">
    {% for post in site.posts %}
    <li class="">
      <a href="{{ post.url }}">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
