---
layout: default
---

<main class="grid lg:grid-cols-3 grid-flow-col gap-4 my-10">
  <div class=""></div>
  <ul class="flex flex-col prose dark:prose-dark">
    {% for post in site.posts %}
    <li>
      <div>
        <a href="{{ post.url  }}">
          <h3>{{ post.title }}</h3>
        </a>
        <p>{{post.excerpt | strip_html | truncatewords:50}}...
          <a class="float-right" href="{{ post.url }}">Read more</a>
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>